h1, h2{
	font-family: arial, verdana, sans-serif;
	text-align: center;
}

body{
	background: lightgrey;
}

.galeria{
	display: flex;
}

input[type="button"]{
	background: gray;
	visibility: visible;
}

input[type="button"]:hover{
	visibility: hidden;
}

label{
	color: white;
}

img{
	border: solid gray 5px;
	border-radius: 10px;
	height: 200px;
	width: 150px;
	margin: 10px;
}